NODE_ENV=development

# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://eth-mainnet.alchemyapi.io/v2/<apiKey>
ETH_NODE_URI_RINKEBY=https://eth-rinkeby.alchemyapi.io/v2/<apiKey>
ETH_NODE_URI_LOCALHOST=http://localhost:8545
# generic node uri (if no specific found) :
ETH_NODE_URI=https://eth-rinkeby.alchemyapi.io/v2/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
MNEMONIC_RINKEBY=<mnemonic for rinkeby>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

# coinmarketcap api key for gas report
CMC_API_KEY=<apiKey>

# etherscan api key
ETHERSCAN_API_KEY=<apiKey>

# Allow to report gas
REPORT_GAS=<reportGas>

# The lending token address to use
LENDING_TOKEN_ADDRESS=<lendingTokenAddress>

# ALBT Token address to use
ALBT_TOKEN_ADDRESS=<albtTokenAddress>

# Collateral Token address to use
COLLATERAL_TOKEN_ADDRESS=<collateralTokenAddress>

# Project Token address to use
PROJECT_TOKEN_ADDRESS=<collateralTokenAddress>
